In [155]:
import pandas as pd
from pandas import DataFrame
from sklearn.preprocessing import scale
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl 
import os
import csv

In [156]:
# Import in the data 
# Accept
first_accept_wide = pd.read_csv("raw/answer_accept_first_raw.csv")
second_accept_wide = pd.read_csv("raw/answer_accept_second_raw.csv")
third_accept_wide = pd.read_csv("raw/answer_accept_third_raw.csv")
fourth_accept_wide = pd.read_csv("raw/answer_accept_fourth_raw.csv")
fifth_accept_wide = pd.read_csv("raw/answer_accept_fifth_raw.csv")
sixth_accept_wide = pd.read_csv("raw/answer_accept_sixth_raw.csv")

# lilely
first_likely_wide = pd.read_csv("raw/answer_likely_first_raw.csv")
second_likely_wide = pd.read_csv("raw/answer_likely_second_raw.csv")
third_likely_wide = pd.read_csv("raw/answer_likely_third_raw.csv")
fourth_likely_wide = pd.read_csv("raw/answer_likely_fourth_raw.csv")
fifth_likely_wide = pd.read_csv("raw/answer_likely_fifth_raw.csv")
sixth_likely_wide = pd.read_csv("raw/answer_likely_sixth_raw.csv")

In [157]:
# Convert to long
first_likely = pd.melt(first_likely_wide, id_vars='subject')
second_likely = pd.melt(second_likely_wide, id_vars='subject')
third_likely = pd.melt(third_likely_wide, id_vars='subject')
fourth_likely = pd.melt(fourth_likely_wide, id_vars='subject')
fifth_likely = pd.melt(fifth_likely_wide, id_vars='subject')
sixth_likely = pd.melt(sixth_likely_wide, id_vars='subject')

first_accept = pd.melt(first_accept_wide, id_vars='subject')
second_accept = pd.melt(second_accept_wide, id_vars='subject')
third_accept = pd.melt(third_accept_wide, id_vars='subject')
fourth_accept = pd.melt(fourth_accept_wide, id_vars='subject')
fifth_accept = pd.melt(fifth_accept_wide, id_vars='subject')
sixth_accept = pd.melt(sixth_accept_wide, id_vars='subject')

In [158]:
together_likely = pd.concat([first_likely,second_likely,third_likely,fourth_likely,fifth_likely,sixth_likely])
# together_likely.to_csv("together_likely.csv",index=False)

together_accept = pd.concat([first_accept,second_accept,third_accept,fourth_accept,fifth_accept,sixth_accept])

In [159]:
together = pd.concat([together_likely,together_accept])
# together.to_csv("together.csv",index=False)

In [160]:
# Splitting by study type
conn = together[together['variable'].str.contains("conn")]
vera = together[together['variable'].str.contains("vera")]
answer = together[together['variable'].str.contains("answer")]

In [161]:
# Save the other studies to separate files 
vera.to_csv("vera_total_1.csv",index=False)
conn.to_csv("conn_total_1.csv",index=False)
answer.to_csv("answer_total_1.csv",index=False)

In [162]:
accept = answer[answer['variable'].str.contains("accept")]
likely = answer[answer['variable'].str.contains("likely")]

In [130]:
len(answer) # 2856

2856

In [131]:
len(likely) # 1488

1488

In [132]:
len(accept) #1368

1368

In [163]:
# This is an unnecessary step, but just in case 
# you want to import in another file
# if you use the 'answer' object directly, it gives a "SettingWithCopyWarning"
# 
d = pd.read_csv("answer_total_1.csv")
d.dropna(inplace = True)
# d.head()

In [164]:
new = d["variable"].str.split('_', n=5, expand = True)

In [165]:
new.head()

        0       1  2    3   4          5
0  answer  likely  0  how  MO  political
1  answer  likely  0  how  MO  political
2  answer  likely  0  how  MO  political
3  answer  likely  0  how  MO  political
4  answer  likely  0  how  MO  political

In [166]:
d["variable"] = new[0]
d["task"] = new[1]
d["modal"] = new[2]
d["wh"]=new[3]
d["answer"]=new[4]
d["story"]=new[5]

In [167]:
d = d.rename(columns={'value': 'likert'})

          subject variable  likert    task modal   wh answer      story
0  A2VFEDAK5C1E1O   answer     1.0  likely     0  how     MO  political
1  A29AKJXQ248KNK   answer     2.0  likely     0  how     MO  political
2  A29TQSAJPLXZU7   answer     3.0  likely     0  how     MO  political
3  A3QVZ4SZB79D8W   answer     1.0  likely     0  how     MO  political
4  A17D6BK59S31BM   answer     2.0  likely     0  how     MO  political

In [168]:
d['modal'] = d['modal'].replace({'1': 'mod', '0': 'nomod'})

In [169]:
d.head()

          subject variable  likert    task  modal   wh answer      story
0  A2VFEDAK5C1E1O   answer     1.0  likely  nomod  how     MO  political
1  A29AKJXQ248KNK   answer     2.0  likely  nomod  how     MO  political
2  A29TQSAJPLXZU7   answer     3.0  likely  nomod  how     MO  political
3  A3QVZ4SZB79D8W   answer     1.0  likely  nomod  how     MO  political
4  A17D6BK59S31BM   answer     2.0  likely  nomod  how     MO  political

In [170]:
d.to_csv("answer.csv",index=False)

In [330]:
d_mod_where_MO['likert'].isin(['2']).describe()

count       112
unique        2
top       False
freq        101
Name: likert, dtype: object

In [325]:
d_nomod_where_MO['likert'].describe()

count    76.000000
mean      3.105263
std       1.138173
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       5.000000
Name: likert, dtype: float64

In [321]:
d_mod_how['likert'].median()

4.0

d_mod_how['likert'].median(

In [338]:
plt.figure()

In [336]:
bp = d_MO.boxplot(by='modal')